.hero-con {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    z-index: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #F6E7DA;
    padding-bottom: 0;
}

.hero-left {
    flex-basis: 50%;
    padding-top: 70px;
    position: relative; /* Needed for absolute positioning within this container */
}

.hero-text {
    padding: 0 14%;
}

.hero-left h2 {
    font-size: 40px;
    line-height: 150%;
    font-family: 'Dela-Regular';
    background: -webkit-linear-gradient(#F58A62, #8B503B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-left p {
    font-family: 'Aoenik-Regular';
    font-size: 16px;
    line-height: 150%;
    margin-top: 10px;
}

.marquee {
    background: #F8DDC6;
    height: 45px;
    overflow: hidden;
    position: absolute;
    bottom: -70px; /* Adjust as needed to place it at the bottom of .hero-left */
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.marquee-content {
    display: flex;
    gap: 30px;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

.marquee-content p {
    margin: 0;
    display: flex;
    align-items: center;
}

.marquee-content span {
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-left: 10px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.hero-right {
    flex-basis: 50%;
    padding-right: 7%;
}

.hero-right img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .hero {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 0;
    }

    .hero-left {
        flex-basis: 100%;  
        padding-top: 120px;
    }

    .hero-text {
        padding: 0 7%;
    }

    .hero-left h2 {
        font-size: 28px;
    }

    .hero-right {
        flex-basis: 100%;
        padding: 0 7%;
    }
}
